.menu-drawer {
    position: relative;
    width: 304px;
    height: 100vh;
    background-color: var(--lic-dark-blue);
    float: left;
    order: 1;
}

.menu-drawer header {
    background-color: var(--menu-header);
    border-bottom: solid thin var(--black);
    height: 5rem;
    display: grid;
    grid-template-columns: 5rem 1fr 2rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu-drawer header img {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
}

.menu-drawer header h1 {
    line-height: 5rem;
    color: var(--white);
}

.menu-drawer header svg {
    margin-top: 1.75rem;
}

.menu-drawer header button {
    border-radius: 50%;
    border: none;
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
}

.menu-drawer li {
    height: 3.5rem;
    border-bottom: solid thin var(--blue-dark);
    color: var(--white);
    font-size: 1rem;
}

.menu-drawer li:hover {
    background-color: var(--blue-dark);
}

.menu-drawer li a {
    text-decoration: none;
    color: var(--white);
    display: grid;
    grid-template-columns: 3.5rem 1fr 2rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu-drawer li a > .icon:first-child { grid-area: 1 / 1 / 2 / 2; margin: 1rem; }
.menu-drawer li a h4 { grid-area: 1 / 2 / 2 / 3; line-height: 3.5rem; }
.menu-drawer li a >  .icon:last-child  { grid-area: 1 / 3 / 2 / 4; margin-top: 1rem; }

.menu-drawer-item svg { opacity: 50%; }

.menu-drawer li.profile {
    height: 3.5rem;
    background-color: var(--blue-dark);
    border-bottom: solid thin var(--black);
}

.menu-drawer li.profile a {
    grid-template-columns: 3.5rem 1fr 2.5rem;
}

.menu-drawer li.profile div {
    border-radius: 50%;
    background-color: var(--black);
    width: 2rem;
    height: 2rem;
}

.menu-drawer li.profile h4 {
    padding-top: 0.5rem;
}
.menu-drawer li.profile span {
    display: block;
    line-height: 1.25rem;
}

.menu-drawer li.profile span + span {
    opacity: 50%;
    font-size: 80%;
}

.menu-drawer li.profile div:first-child {
    margin: 0.75rem;
}

.menu-drawer li.profile div:last-child {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.35rem 0.35rem 0.35rem 0.45rem;
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}

.suppress-menu .menu-drawer {
    display: none;
  }


@media screen and (max-width: 1000px) {
    .menu-drawer {
      display: none;
    }
}


