
.appbar {
    width: 100%;
    height: 3.5rem;
    background-color: var(--lic-dark-blue);
    display: flex;
    align-items: center;
}

.hamburger {
    width: 3.5rem;
    height: 3.5rem;  
    background-color: var(--blue-dark); 
    border: none;
    color: var(--white);
    outline: none;
}

.appbar h1 {
    font-size: 1.25rem;
    color: var(--white);
    padding-left: 1rem;
}