
.appbar {
    width: 100%;
    height: 3.5rem;
    background-color: var(--lic-dark-blue);
    display: flex;
    align-items: center;
}

.hamburger {
    width: 3.5rem;
    height: 3.5rem;  
    background-color: var(--blue-dark); 
    border: none;
    color: var(--white);
    outline: none;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    display: none;
}

.hamburger:hover {
    background-color: var(--lic-sky-blue);
}

.hamburger:active {
    background-color: var(--black);
}

.appbar h1 {
    font-size: 1.25rem;
    color: var(--white);
    padding-left: 1rem;
}


@media screen and (min-width: 320px) and (max-width: 1000px) {
    .hamburger { display: inline-block;}
}