
.auth-panel {
    background-color: var(--blue-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 3rem auto 1rem auto;
    width: 16rem; 
}

.auth-note {
    font-size: 0.75rem;
    color: var(--menu-header-highlight);
    text-align: center;
    line-height: 1rem;
}

.auth-logo {
    width: 3.5rem;
    height: 3.5rem;
    float: left;
    margin-right: 1rem;
}

.auth-panel h1 {
    font-size: 1.3rem;
    color: var(--white);
    line-height: 1.85rem;
}