.appbar.prototype {
    height: 3.5rem;
    background-color: var(--blue-dark);
    padding: 1rem;
}

.appbar.prototype h1 {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
    color: var(--menu-header-highlight);
}