
.btn {
    text-transform: uppercase;
    border-radius: var(--border-radius);
    border-width: thin;
    border-style: solid;
    display: flex;
    flex: 1 1 0%;
    flex-flow: row nowrap;
    place-content: stretch center;
    align-items: center;
    height: 2rem;
}

.btn.login {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    background-color: var(--btn-prompt);
    color: var(--btn-prompt-text);
    border-color: var(--btn-prompt-border);
    font-size: 1.3rem;
    box-shadow: var(--box-shadow);
    border-bottom-width: 2px;
}

.btn.login .icon-avatar {
    margin-right: 0.5rem;
}

.btn.logout {
    background-color: var(--btn-prompt);
    color: var(--btn-prompt-text);
    border-color: var(--btn-prompt);
}


.btn.login .icon-logout {
    margin-right: 0.5rem;
}

.btn.cancel {
    background-color: var(--btn-cancel);
    color: var(--btn-cancel-text);
    border-color: var(--btn-cancel);
}
