
.btn {
    text-transform: uppercase;
    border-radius: var(--border-radius);
    border-width: thin;
    border-bottom-width: 2px;
    border-style: solid;
    box-shadow: var(--box-shadow);
    display: flex;
    flex: 1 1 0%;
    flex-flow: row nowrap;
    place-content: stretch center;
    align-items: center;
}

.btn.login {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    background-color: var(--btn-prompt);
    color: var(--btn-prompt-text);
    border-color: var(--btn-prompt-border);
    font-size: 1.3rem;
}

.icon.login {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}