
.wrap {
    height: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.content {
  height: calc(100% - 3.5rem);
  background-color:var(--white);
  order: 2;
}
 
.page {
  height: 100%;
  background-color:var(--white);
  padding: 1rem;
}

.page.login {
    background-color: var(--lic-dark-blue);
}

@media screen and (min-width: 768px)  {
  .wrap {
    width: 840px; 
  }
  .content {
    width: 536px;;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 100vw;  
  }
  .content {
    width: 100vw;
  }
}

