
.wrap {
    height: 100%;
    margin: 0 auto 0 auto;
    width: 840px;
}

.content.login {
    background-color: var(--lic-dark-blue);
    height: 100%;
}



@media screen and (min-width: 768px) and (max-width: 1000px) {
    .wrap {
      width: 100vw;  
    }
  }

  @media screen and (min-width: 321px) and (max-width: 767px) {
    .wrap {
      width: 100vw;  
    }
  }

  @media screen and (max-width: 320px) {
    .wrap {
      width: 100vw;  
    }
  }

  @media screen and (min-width: 569px) and (max-width: 767px) {
 
  }
