
.wrap {
    height: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.content {
  height: calc(100% - 3.5rem);
  background-color:var(--white);
  order: 2;
}
 
.page {
  height: 100%;
  background-color:var(--white);
  padding: 0.5rem 0.5rem 1rem 1rem;
}

.page.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: baseline;
  align-items: flex-start;
}

.page.login {
    background-color: var(--lic-dark-blue);
}

.wrap.suppress-menu, 
.wrap.suppress-menu .content {
  width: 100vw !important;  
}

@media screen and (min-width: 768px)  {
  .wrap {
    width: 840px; 
  }
  .content {
    width: 536px;;
  }

.col-4 { 
  flex: 0 1 auto;
  align-self: auto;
  width: calc(100% - 0.5rem);
  margin: 0.5rem 0.5rem 0 0; 
  box-sizing: border-box; 
}

.col-2 { 
  flex: 0 1 auto;
  align-self: auto;
  width: calc(50% - 0.5rem);
  margin: 0.5rem 0.5rem 0 0; 
  box-sizing: border-box; 
}

.col-1 { 
  flex: 0 1 auto;
  align-self: auto;
  width: calc(25% - 0.5rem);
  margin: 0.5rem 0.5rem 0 0; 
  box-sizing: border-box; 
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .wrap, .content {
      width: 100vw;  
    }
  }

  @media screen and (min-width: 321px) and (max-width: 767px) {
    .wrap, .content {
      width: 100vw;  
    }
    .col-1 { 
      width: calc(50% - 0.5rem);
    }

    .col-2, 
    .col-4 { 
      width: calc(100% - 0.5rem);
    }
  }
}

@media screen and (max-width: 767px) {
  .wrap, .content {
    width: 100vw;  
  }

  @media screen and (max-width: 320px) {
    .wrap {
      width: 100vw;  
    }
    .col-1,
    .col-2, 
    .col-4 { 
      width: calc(100% - 0.5rem);
    }
  }

  @media screen and (min-width: 569px) and (max-width: 767px) {
    .col-1 { 
      width: calc(25% - 0.5rem);
    }

    .col-2 { 
      width: calc(50% - 0.5rem);
    }

     
    .col-4 { 
      width: calc(100% - 0.5rem);
    }
  }
}

